
.create-button {
  button {
    background-color: #d33852;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background 0.2s ease;

    &:hover {
      background-color: #c22640;
    }

    .plus-icon {
      margin-right: 6px;
    }
  }
}
